@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  margin: auto;
  background: green;
}
.card {
  display: flex;
  margin: auto;
  margin-top: 10vh;
  width: 32vw;
  height: 44vw;
  aspect-ratio: auto 1 / 1;
  background-color: rgb(74, 126, 172);
  border-radius: 20vw;
}
.number_container {
  height: 80%;
  width: 100%;
  line-height: 28vw;
}
.number_container h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 8vw;
}

.icon_container {
  width: 8vw;
  height: 8vw;
  float: right;
  font-size: 8vw;
  line-height: 7vw; /* = 44px/40px */
}
.icon_container.top {
  float: left;
}
.icon_container.bottom {
  transform: rotate(180deg);
  position: relative;
  bottom: 0vw;
  left: 0vw;
}
